@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

body {
  font-family: 'Inter', sans-serif;
}


.scrollbar-hide {
    scrollbar-width: none; /* Para Firefox */
    -ms-overflow-style: none; /* Para IE y Edge */
  }
  
.scrollbar-hide::-webkit-scrollbar {
    display: none; /* Para Chrome, Safari y Opera */
  }

  /*Para Celular*/

  @media screen and (max-width: 768px) {
 
  main {
    flex-direction: column;
  }

  aside {
    display: none;
  }

  section {
    width: 100%;
  }

  img {
    width: 100%;
    height: auto;
  }

  body {
    font-size: 16px;
  }
}
